* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header h1 {
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #FFFFFF;

    width: 163px;
    margin-bottom: 18px;
    margin-top: 140px;
}

.page {
    width: 750px;
    margin: auto;
}

header p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: #FFFFFF;

    width: 364px;
    margin-bottom: 58px;
}

body {
    background: #E5E5E5;
    font-family: 'Poppins';
}

body::before {
    content: '';
    width: 100%;
    height: 436px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: #535971;
}


form {
    background: #FFFFFF;
    border-radius: 20px 20px 0 0;

    min-height: 300px;
    padding: 64px;

    display: flex;
    flex-direction: column;
    gap: 80px;
}

fieldset {
    border: none;
}

.fullName {
    display: flex;
    gap: 20px;
    flex-direction: row;
}

.fieldset-wrapper {
    display: flex;
    flex-direction: column;

    gap: 16px;

}

legend {
    font-family: 'Staatliches';
    color: #535971;
    line-height: 34px;
    font-size: 24px;
    border-bottom: 1px solid #E6E6F0;
    padding-bottom: 16px;
    width: 100%;
    margin-bottom: 20px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;

}

.input-wrapper label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    color: #4e4958;
    margin-bottom: 8px;
}

.input-wrapper label span {
    color: #C1BCCC;
    margin: 9px;
}

.input-wrapper input {
    background: #FAFAFC;

    border: 1px solid #E6E6F0;
    border-radius: 8px;

    height: 56px;
    padding: 0 24px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 26px;

    color: #4E4958;
}

h2 {
    font-family: 'Staatliches';
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;

    color: #535971;

    
    padding-bottom: 16px;
}

.col-3 {
    display: flex;
    gap: 32px;
    margin-top: 10px;
    margin-bottom: 16px;
}

.col-3 :nth-child(1) {
    width: 100%;
}

footer {
    background: #535971;

    display: flex;
    height: 160px;
    flex-direction: column;


    padding: 40px 64px;

    margin-bottom: 100px;
    border-radius: 0px 0px 20px 20px;
}

footer .button {
    height: 55px;
    background: #FF5374;
    border-radius: 20px;
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;

    border: 0;

    color: #FFFFFF;
}

footer .button:hover {
    background: #c5415b;
}